*{
    border: 0;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------*/

/*---------------Variables---------------*/

:root {
    --NeutralBlack: rgba(0, 0, 0, 0.940);
    --TextWhite: rgba(255, 255, 255, 0.915);
    --TextFontRoboto: 'Roboto', sans-serif;
    --TextFontPlayfairDisplay: 'Playfair Display', serif;
}
/*---------------------------------------*/

/*---------------GENERAL CSS--------------*/

  body {
    background-color: var(--NeutralBlack);
    width: 100%;
  }

/*----------------------------------------*/

/*-------------------320px--------------------*/

@media all and (min-width: 320px) {

    #Header {
    margin-bottom: 2em;
 }

    #Title {
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 0.2em;
    font-family: var(--TextFontPlayfairDisplay);
    font-weight: 600;
    font-size: 2em;
 }

    #Description {
    text-align: center;
    color: var(--TextWhite);
    font-family: var(--TextFontPlayfairDisplay);
    font-weight: 400;
    font-size: 0.9em;
 }

    #Principal {
        width: 100%;
        padding-bottom: 2em;
  }

    #Formu {
        width: 80%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        background-color: black;
        padding: 1em;
        border-radius: 2%;
        margin: 0 auto;
  }

    .field1, .field2, .field3, .field4, .field5 {
        width: 100%;
        margin-bottom: 1em;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

    .division {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

    .radio-division {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .check-division {
        width: 100%;
        display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
    }

    .field1, .field2, .field3, .field4, .field5 {
        border: none;
  }

    label {
        font-family: Tahoma;
        font-size: 0.8em;
        color: var(--TextWhite);
        display: block;
    }

    input {
        width: 97%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 1em;
    }

    .inline {
        width: 5%;
        margin-right: 0.5em;
    }

    .select-text {
        font-family: var(--TextFontRoboto);
        font-size: 1em;
        margin-bottom: 0.5em;
        color: rgb(245, 245, 245);
    }

    #dropdown {
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 1em;
        margin-bottom: 0.5em;
        border-radius: 2em;
    }

    #check1, #check2, #check3, #check4, #check5 {
        width: 5%;
        margin-right: 0.5em
    }

    textarea {
        resize: none;
        width: 100%;
        border-radius: 1em;
    }

    .submit {
        color: darkred;
        font-family: Tahoma;
        font-size: 1em;
        text-align: center
    };
}
/*-----------------END: 320px-----------------*/

/*-------------------480px--------------------*/

@media all and (min-width: 480px) {

    #Formu {
        width: 70%;
    }

}

/*-----------------END: 480px-----------------*/

/*-------------------576px--------------------*/

@media all and (min-width: 576px) {

    #Formu {
        width: 65%;
    }

}
  
/*-----------------END: 576px-----------------*/

/*-------------------768px--------------------*/

@media all and (min-width: 768px) {

    #Formu {
        width: 55%;
    }

}

/*-----------------END: 768px-----------------*/
  