* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.94);
  width: 100%;
  z-index: 1;
}

#principal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  z-index: 100;
}

.spheres {
  background-color: darkgreen;
  width: 6px;
  height: 6px;
  border-radius: 2em;
  position: absolute;
  transition: 3s all;
  z-index: -5;
  box-shadow: 0em 0em 0.4em 0.1em lightgreen;
}

#heading {
  margin-bottom: 1em;
}
#heading #title {
  text-align: center;
  color: white;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 2em;
}
#heading #description {
  text-align: center;
  color: #fdfdfd;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 0.9em;
}

#form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0.5rem;
  box-shadow: 0em 0.1em 0.1em darkgray;
  opacity: 0.9;
  transition: 0.5s linear all;
  position: relative;
  backdrop-filter: blur(5rem);
}
#form::before {
  width: 100%;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: #060606;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
}
#form .field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form:hover {
  box-shadow: 0em 0.1em 0.2em darkgreen;
}

.division {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

#name, #email, #number {
  width: 90%;
  max-width: 90%;
}

.radio-division {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check-division {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #fdfdfd;
}

input {
  width: 97%;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 3em;
}

.inline {
  width: 5%;
  margin-right: 0.5em;
}

.legend-text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #fdfdfd;
}

#dropdown {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5em;
  border-radius: 2em;
}

#check1 {
  width: 5%;
  margin-right: 0.5em;
}

.submit-btn {
  width: 100%;
  color: rgba(0, 0, 0, 0.94);
  font-family: "Roboto", sans-serif;
  padding: 0.25rem;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  box-shadow: 0em 0.3em 0em #606060;
}

.submit-btn:active {
  box-shadow: none;
  transform: translateY(0.3em);
}

.hover-input:hover {
  box-shadow: 0em 0.3em 0.2em darkgreen;
  transition: 0.5s linear;
}

#submit-btn:hover {
  box-shadow: 0em 0.3em 0.2em darkgreen;
  transition: 0.5s linear;
}

@media all and (max-width: 480px) {
  #form {
    width: 80%;
  }
}
@media all and (min-width: 481px) and (max-width: 575px) {
  #form {
    width: 65%;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  #form {
    width: 60%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #form {
    width: 55%;
  }
}
@media all and (max-width: 991px) {
  .division {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #name, #email, #number {
    width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 992px) {
  .divison label {
    width: 10%;
    min-width: 10%;
  }
  .field1 {
    margin-bottom: 0.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
